
body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 76%;
}
tr.dark {
  background-color: #ddd;
}
tr.light {
  background-color: #eee;
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.1em;
}
h3, h4, h5, h6 {
  font-size: 1em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
img {
  border-width: 0;
}
#header, #content {
  width: 100%;
}
#header {
  background-color: #69c;
}
#logo {
  vertical-align: bottom;
  border: 0;
  font-weight: bold;
  font-size: 1.9em;
  color: #fff;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}
#primary {
  font-size: 1.0em;
  padding: 0em 0.8em 0.5em 0;
  color: #9cf;
}
#primary a {
  font-weight: bold;
  color: #fff;
}
#secondary {
  padding: 0 1em 0.5em 0;
  font-size: 0.8em;
  color: #9cf;
}
#secondary a {
  font-weight: bold;
  color: #9cf;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
}
#search .form-text {
  width: 8em;
  height: 1.4em;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0 0.5em 0;
}
#search .form-submit {
  height: 1.5em;
}
#message {
  background-color: #369;
  padding: 1.5em 2em;
  color: #fff;
}
#message a, #message a:visited {
  color: #9cf;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#message, #main .node .content, .comment .content {
  line-height: 1.4;
}
#sidebar-left, #sidebar-right {
  background-color: #ddd;
  width: 16em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  vertical-align: top;
}
#footer {
  background-color: #eee;
  padding: 1em;
  font-size: 0.8em;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
table {
  font-size: 1em;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.node {
  padding: 0 0 2.5em 0;
}
.comment {
  border: 1px solid #abc;
  padding: 1.5em 1.5em 1.5em 1.5em;
  margin: 0.5em 0 0.5em 0;
}
.node .title, .block .title, .box .title, .node .title a, .box .title a {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.3em;
  color: #777;
}
.form-item .title {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.node .author, .comment .author {
  color: #999;
  font-size: 0.8em;
  padding-bottom: 1em;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.node .content, .comment .content {
  padding-top: 0.5em;
}
.node .links, .comment .links {
  padding-top: 0.5em;
  color: #999;
}
.node .links a, .comment .links a {
  font-weight: bold;
}
.path a, .path a:visited {
  color: #777;
}
.comment .title {
  font-weight: bold;
  font-size: 1.1em;
  color: #777;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
#tracker th {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#tracker tr.light, #tracker tr.dark {
  background-color: #fff;
}
#tracker td {
  vertical-align: top;
  padding: 1em 1em 1em 0;
  border-bottom: 1px solid #ddd;
}
.calendar a {
  text-decoration: none;
}
.calendar td {
  padding: 0;
  border-color: #888;
}
.calendar td div {
  padding: 0.4em 0;
}
.calendar .row-week td a {
  padding: 0.4em 0;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-month {
  background-color: #bbb;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
.content li {
  padding-bottom: 0.25em;
}
