
body {
  margin: 10px;
  color: #000000;
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 76%;
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.1em;
}
h3, h4, h5, h6 {
  font-size: 1em;
}

p {
  margin: 0 0 1em 0;
  padding: 0;
}
img {
  border-width: 0;
}
table {
  font-size: 1em;
}
.calendar .day-today {
  background-color: #ccc;
}
.calendar .day-selected {
  background-color: #bbb;
}
.calendar .header-month {
  background-color: #ddd;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ddd;
}
.calendar .day-link a {
  color: #000;
}
.calendar .row-week {
  color: #aaa;
}
.path, .path a, .path a:visited {
  color: #888;
}
#forum .title {
  font-weight: bold;
  color: #404040;
  padding-bottom: 1em;
}
a:link {
  color: #656
}
a:visited {
  color: #656
}
a:active {
  color: #ccc
}
